@{
    TempData["Title"] = "Tasks";
}
@model IEnumerable<WorksTheDaily.API.View.TaskPO>

<div>
    <div class="controlegg"></div>
</div>

<div class="containerNovo">






    <div class="row">
        <div style="margin-top: 260px"></div>

        @foreach(var task in Model)
        {

            <div class="card bloco">
                <div class="faixa"></div>

                <div class="head-text">
                    <h1 class="TaskName"> @task.TaskName </h1>
                </div>

                <h4 class="Description"> @task.Description </h4>
                <h3 class="Nivel"> Nivel: @task.NivelPrioridade </h3>

                @if (task.status.ToString().ToUpper() == "NOVO")
                {
                    <div class="Status" style="background-color: #00BFFF	">
                        <h3 style="font-size: 20px"> @task.status.ToString().ToUpper() </h3>
                    </div>
                }
                else if (task.status.ToString().ToUpper() == "ANALISE")
                {
                    <div class="Status" style="background-color: #DAA520">
                        <h3 style="font-size: 20px"> @task.status.ToString().ToUpper() </h3>
                    </div>
                }
                
                


                <div class="botoes">

                    <a href="#" class="btn btn-primary">
                        <i class="bi bi-pen"></i>
                    </a>

                    <a href="#" class="btn btn-success">
                        <i class="bi bi-check-square-fill"></i>
                    </a>

                </div>
            </div>

        }

        


    </div>
</div>

